body{
  background-color: rgb(0, 0, 0);
}

.heading {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 30px;
  margin-right: 50px;
  height: 100vh ;
}
.greetings{
  font-size: 100px;
  font-weight: bolder;
  text-shadow: 7px 4px rgba(185, 177, 177, 0.705);
}
.swipe{
  display: block;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  text-shadow: 4px 4px rgba(185, 177, 177, 0.705);
}


.animation {
  position: fixed;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

