
@media (min-width: 768px) {
.title {
  display: block;
  text-align: center;
  margin-top: em;

}
}
@media (min-width: 1200px) {
  .title{
    display: block;
    margin-top: 15em;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
  }
  .pic1{
    height: 25em;
    width: 20em;
    justify-content: left;
    padding-top: 3em;
  }


.content{
  display: flex;
  flex-direction: row;
  padding-left: 10em;
  color: white;
  text-shadow: 2px 2px 3px rgb(229, 21, 21);

}

.smwT{
  padding-left: 2em;
  font-size: 3em;
  padding-right: 4em;
}
.content2{
  padding-left: 3em;
  text-align: justify;
  text-wrap: wrap;
  margin-right: 7em;
  text-indent: 3em;
  font-size: 20px;
}

.content3{
  color: white;
  text-decoration: none;
  padding-top: 2em;
  margin-left: -87em;
}

.clickk{
  text-align: center;
  font-size: 1vw;
  text-shadow: 2px 2px rgba(185, 177, 177, 0.705);
  color: white;
  background-color: rgb(91, 31, 31);
  padding-top: 0px;
  animation: blink 2s infinite;
}

.contactHead{
  color: white; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px rgb(229, 21, 21);
  animation: glitch 8s infinite;
}
}